:root {
  --blue-600: #1976d2;
  --green-600: #388e3c;
  --orange-600: #f57c00;
  --red-600: #d32f2f;
  --cyan-600: #0288d1;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e0e0e0;
  --gray-300: #ccc;
  --gray-400: #bdbdbd;
  --gray-500: #757575;
  --gray-600: #666;
  --gray-700: #424242;
  --gray-800: #333;
  --gray-900: #121212;

  --white: #ffffff;
}
